{# Teia geométrica animada (só no hero). A estrutura é construída via JS (logo-animation.js). #}
<svg id="awc-web" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"
     role="img" aria-label="All We Core">
  <defs>
    <filter id="aw-bloom" x="-80%" y="-80%" width="260%" height="260%">
      <feGaussianBlur stdDeviation="2.4" result="b"/>
      <feMerge>
        <feMergeNode in="b"/>
        <feMergeNode in="SourceGraphic"/>
      </feMerge>
    </filter>
  </defs>
  {# wires, hub e spark são injetados aqui pelo script #}
</svg>
